.contactMain {
  height: 100vh;
  min-height: 682px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Ctitle {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  font-family: QuestrialRegular;
}
.Ctitle strong {
  font-family: dmSansRegular;
  font-size: 1.2rem;
  color: var(--primary-white);
}
.Ctitle h3 {
  font-size: 3.5rem;
}
form {
  height: 580px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: var(--primary-white);
  font-family: dmSansRegular;
}

.formControl {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.formControl label {
  font-size: 1.05rem;
  margin-bottom: 10px;
}
.formControl input {
  height: 40px;
  width: 380px;
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 5px;
  font-family: dmSansRegular;
  border: none;
}
.errMsg {
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.formControl textarea {
  height: 120px;
  width: 380px;
  border-radius: 2px;
  font-family: dmSansRegular;
  border: none;
}
form button {
  height: 36px;
  width: 180px;
  border: none;
  background-color: var(--primary-btn);
  border-radius: 2px;
  cursor: pointer;
  font-family: dmSansRegular;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}




























