@media screen and (max-width: 930px) {
  .main {
    padding: 0 60px 0 60px;
  }
  .pbMain {
    flex-direction: column;
    justify-content: space-around;
  }
  .dif {
    align-items: center;
    width: 80%;
  }
  .pbMainHeader {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .aboutContainer {
    flex-direction: column;
    justify-content: space-around;
  }
  .heroImg {
    justify-content: center;
  }

  .aboutText {
    margin-top: 20px;
    width: 80%;
  }
  .aboutText button {
    margin-top: 20px;
  }
  .portfolioAMain {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pamHeader {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .iconsGrid {
    width: 320px;
  }
  .contactMain {
    flex-direction: column;
    justify-content: space-around;
  }
  .Ctitle {
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }
  form {
    width: 80%;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    height: 7vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0e1b22;
  }

  .links {
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0;
  }
  .backFixed {
    top: 7vh;
  }
  .main {
    padding: 0 20px 0 20px;
    overflow-x: hidden;
  }
  /* ------------------------------ intro ------------*/
  .introText h1 {
    font-family: dmSansRegular;
    font-weight: lighter;
    font-size: 3.2rem;
  }
  .aboutContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*------------------------------ ABOUT -------------------*/
  .heroImg {
    height: 40%;
    width: 100%;
    justify-content: center;
  }
  .aboutMain h2 {
    font-family: dmSansRegular;
    font-weight: lighter;
    font-size: 3.2rem;
  }
  .heroImg img {
    height: 100%;
    width: auto;
  }
  .aboutText {
    width: 100%;
    height: 50%;
  }

  /*--------------------------------- Services -----------------------*/

  .pbMain {
    flex-direction: column;
  }
  .pbMainHeader {
    width: 100%;
    height: auto;
    align-items: center;
  }
  .pbMainHeader h2 {
    font-family: dmSansRegular;
    font-weight: lighter;
    font-size: 3.2rem;
  }
  .dif {
    width: 100%;
    align-items: center;
  }

  .serviceContainer {
    width: 100%;
  }

  .portfolioAMain {
    padding: 0;
  }
  .pamHeader h2 {
    font-family: dmSansRegular;
    font-weight: lighter;
    font-size: 3.2rem;
  }
  .contactMain {
    flex-direction: column;
    padding: 0;
  }
  .Ctitle {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .Ctitle h3 {
    font-family: dmSansRegular;
    font-weight: lighter;
    font-size: 3.2rem;
  }
  form {
    height: 70%;
    width: 100%;
  }
  .formControl {
    width: 100%;
  }
  .formControl input {
    width: 100%;
  }
  .formControl textarea {
    width: 100%;
  }
  .errMsg {
    width: 100%;
  }
}
