* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color-main: #0f0f0f;
  --primary-btn: #0fbafd;
  --font-primary: #ffffff;
  --primary-white: #ffffff;
}

@font-face {
  font-family: dmSansRegular;
  src: url("./fonts/DMSans/DMSans-Regular.ttf");
}
@font-face {
  font-family: QuestrialRegular;
  src: url("./fonts/Questrial/Questrial-Regular.ttf");
}


.backFixed {
  height: 100vh;
  min-height: 682px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("./img/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 120px 0 120px;
  scroll-behavior: smooth;
}

/*------------------------------------ Intro ----------------------------------------------*/
.intro {
  height: 100vh;
  min-height: 682px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.introText {
  height: auto;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
}

.introText strong {
  font-family: dmSansRegular;
  align-self: flex-start;
  font-size: 1.2rem;
}
.introText h1 {
  font-family: QuestrialRegular;
  font-size: 4.2rem;
}
/*---------------------------------------------------------- About -------------------------------------------------*/
.aboutMain {
  height: 100vh;
  min-height: 682px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.aboutMain h2 {
  color: var(--font-primary);
  text-transform: capitalize;
  font-size: 4.2rem;
  font-family: QuestrialRegular;
  font-weight: bold;
}

.aboutContainer {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.heroImg {
  height: 90%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heroImg img {
  height: 420px;
  width: auto;
  object-fit: cover;
  border-radius: 4px;
}

.aboutText {
  width: 50%;
  max-height: 480px;
  height: 70%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: justify;
  color: var(--primary-white);
  font-family: dmSansRegular;
}

.aboutText p {
  font-size: 1.15rem;
  line-height: 1.5rem;
}

.aboutText button {
  height: 36px;
  width: 180px;
  border: none;
  background-color: var(--primary-btn);
  border-radius: 2px;
  cursor: pointer;
  font-family: dmSansRegular;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
}
.portfolioAMain {
  width: 100%;
  height: 100vh;
  min-height: 682px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pamHeader {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.pamHeader h2 {
  font-family: QuestrialRegular;
  font-size: 4.2rem;
  color: var(--primary-white);
}
.pamHeader strong {
  font-family: dmSansRegular;
  font-size: 1.2rem;
  color: var(--primary-white);
}
.iconsGrid {
  height: 420px;
  width: 420px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.iconCover {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2325;
  border-radius: 10px;
  margin: auto;
}
.iconCover img {
  height: 50%;
  width: auto;
  object-fit: cover;
}
.footerMain {
  height: auto;
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.socialLinks {
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--primary-btn);
  margin: 32px 0 32px 0;
}
.socialLinks a {
  color: var(--primary-btn);
  text-decoration: none;
}
.socialLinks a:active {
  color: var(--primary-btn);
  text-decoration: none;
}
.socialLinks a:visited {
  color: var(--primary-btn);
}
.footerMain p {
  font-family: dmSansRegular;
  font-size: 1.05rem;
  color: var(--primary-white);
}



































